$background-color: #E6ECF0;
$shadow-color: rgba(0, 0, 0, 0.25);

$dark-background-color: rgba(0, 0, 0, 0.5);

@use 'sass:color';

$primary-color: white;
$secondary-color: color.adjust($primary-color, $lightness: -5%);
$selected-color: color.adjust($primary-color, $lightness: -3%);
$active-color: #1DA1F2;
$error-color: #CB2431;
$active-button-color: color.adjust($active-color, $lightness: -25%);

$primary-text-color: #333333;
$detail-text-color: color.adjust($primary-text-color, $lightness: 50%);
$text-placeholder-color: gray;
