.DS_Store
Thumbs.db

# Node
node_modules
build
dist

# React
.next/
.eslintcache
*.tsbuildinfo
.env*.local
coverage/

# Rust
target/
src/thoughts.rs

# Python
venv
__pycache__

# Go
bin
pkg
vendor

# Compiled binaries
src/apigateway/apigateway
src/authservice/authservice
src/postservice/postservice
src/userservice/userservice

# Logs
npm-debug.log*

# Editors
.vscode
*.code-workspace
*.sw*
.antigravitycli
antigravity*
